@font-face {
    font-family: "Song Myung";
    src: url(Fonts/SongMyung-Regular.ttf);
}
body {
    display: inline;
    background: 
    radial-gradient(circle at 50% 0, rgba(255,0,0, 0.5), rgba(255,0,0,0) 70%),
    radial-gradient(circle at 7% 75%, rgba(0,0,255, 0.5), rgba(255,0,0,0) 70%),
    radial-gradient(circle at 100% 75%, rgba(0,255,0, 0.5), rgba(255,0,0,0) 70%);
    font-family: "Song Myung", serif;
}

.container {
    width: 350px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
}

.input {
    position: relative;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    width: 230px;
}

input::placeholder {
    font-family: "Song Myung", serif;
}


.idblock .id{
    position: relative;
    display: inline;
    left: 18%;
    margin-bottom: 20px;
}

.logo {
    position: relative;
    margin: 0 auto;
    display: block;
    top: 20px;
    margin-bottom: 40px;
    width: 270px;
}

.btnblock input{
    position: relative;
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 40px;
    margin-bottom: 10px;
    color: white;
    font-weight: bold;
    background-color: rgb(88, 122, 225);
    border-radius: 0.2cm;
}

.sign {
    margin-top: 30px;
    font-size: 13px;
    text-align: center;
}

.tank {
    position: absolute;
    width: 500px;
    height: 500px;
    right: 10%;
    top: 10%;
    margin: 0 auto; border: 5px solid black;
    overflow: hidden;
}

.slide {
    position: absolute;
    width: calc( 500px * 3 );
    animation-name: slide;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

.slide img {
    width: 500px;
    height: 500px;
    float: left;
}

@keyframes slide {
    30% { left: 0; }
    60% { left: calc(-500px * 1); }
    90% { left: calc(-500px * 2); }
    100% { left: 0;}
}