.welcome {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height:100%;
  padding-top: 250px;
}
.welcome .title {
  margin-bottom: 50px;
}
.welcome .link {
  display: flex;
  gap: 20px;
}
.btn {
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}
.btn:hover {
  background-color: #fff;
  color: black;
  border:2px solid white;
}
.headline {color:#3B82F6;}
.about {
  max-width: 1350px;
  height: 100%;
  margin: auto;
}
.about p {
  white-space: pre-wrap;
}
.about .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1350px;
  padding-top: 100px;
  gap: 30px;
}
.about .introduce {
  display: flex;
  flex-direction: column;
  width: 400px;
  justify-content: space-evenly;
}
.about .introduce .appeal {
  padding-bottom: 20px;
  border-bottom: 1px solid white;
}
.about .title {
  border-radius: 10px;
  width: 100%;
  padding: 10px;
}
.about .info {
  width: 100%;
  display: flex;
  padding: 10px;
}
.about .info .bg {
  border-radius: 10px;
  width: 100%;
  display: flex;
  padding: 10px;
  justify-content: space-evenly;
}
.about .my-img img {
  width: 200px;
}
.about .skills .bg {
  border-radius: 10px;
  width: 100%;
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about .skills {
  width: 100%;
  display: flex;
  padding: 10px;
}
.about .skills h2 {
  padding-bottom: 10px;
}
.about .skills .stacks {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.about .history {
  border-radius: 10px;
  width: 100%;
  display: flex;
  padding: 10px;
  justify-content: space-evenly;
  position: relative;
}
.about .history .bg {
  border-radius: 10px;
  width: 100%;
  display: flex;
  padding: 10px;
  justify-content: space-evenly;
}
.history .bg>div {
  padding: 0 10px;
}
/* .history .bg>div:not(:last-child) {
  border-right: 1px solid white;
} */
/* .history .education,
.history .work,
.history .certificate {
  width: 250px;
}
.history .certificate .cer-img {
  position: absolute;
  display: flex;
  width: 100%;
  padding: 10px;
  display: none;
}
.certificate .cer-img img {
  width: 500px;
  z-index: 1;
} */
.about .reference {
  border-radius: 10px;
  width: 100%;
  display: flex;
  padding: 10px;
  flex-direction: column;
}
.about .projects {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  flex:1;
  gap: 20px;
}
.about .reference h2 {
  padding: 10px;
}
.about .project-card {
  width: 450px;
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.about .project-card img {
  display: flex;
  object-fit: cover;
  border-radius: 10px;
  width: 150px;
}
.about .project-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.project-wrapper {
  width: 100%;
  height: 100%;
}
.project-wrapper .container {
  max-width: 1350px;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 50px;
}
.project-wrapper .head {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  padding: 10px;
}
.project-wrapper .head .info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}
.project-wrapper .head .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.project-wrapper .head .logo img {
  width: 300px;
}
.project-wrapper .body {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
}
.project-wrapper .body .bg {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
}
.project-wrapper .body .image-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.project-wrapper img {
  width: 700px;
}
.project-wrapper .footer {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
}
.project-wrapper .footer .bg {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
}
.project-wrapper .box {
  display: flex;
}
.box .imp {
  border-right: 1px solid white;
  padding-right: 10px;
}
.box .ref {
  padding-left: 10px;
}

/* 페이드 */
.fade-in {
  opacity: 0;
  filter: blur(10px);
  transition: opacity 0.5s ease, filter 0.5s ease;
}

.fade-in.loaded {
  opacity: 1;
  filter: blur(0);
}
.show {
  display: inline-block;
}